In [1]:
import pandas as pd

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
netflix_data = pd.read_csv('netflix_titles.csv', delimiter=',', encoding='utf-8')
name_data = pd.read_csv('name_basics.tsv', delimiter='\t', encoding='utf-8')

In [3]:
title_data = pd.read_csv('title_basics.tsv', delimiter='\t', encoding='utf-8')
ratings_data = pd.read_csv('ratings_data.tsv', delimiter='\t', encoding='utf-8')

/tmp/ipykernel_32067/1993750163.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_data = pd.read_csv('title_basics.tsv', delimiter='\t', encoding='utf-8')

In [14]:
title_data.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [15]:
merged_df = pd.merge(title_data, ratings_data, on='tconst', how='inner')

In [23]:
merged_df['runtimeMinutes'] = pd.to_numeric(merged_df['runtimeMinutes'], errors='coerce')

# Remove rows where 'column_name' is NaN after conversion
merged_df = merged_df[merged_df['runtimeMinutes'].notna()]

# Reset index if needed
merged_df.reset_index(drop=True, inplace=True)

/tmp/ipykernel_32067/3011450976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['runtimeMinutes'] = pd.to_numeric(merged_df['runtimeMinutes'], errors='coerce')

In [22]:
merged_df.info

<bound method DataFrame.info of            tconst  titleType                    primaryTitle  \
0       tt0000001      short                      Carmencita
1       tt0000002      short          Le clown et ses chiens
2       tt0000003      short                  Pauvre Pierrot
3       tt0000004      short                     Un bon bock
4       tt0000005      short                Blacksmith Scene
...           ...        ...                             ...
980838  tt9916690  tvEpisode  Horrid Henry Delivers the Milk
980839  tt9916730      movie                          6 Gunn
980840  tt9916766  tvEpisode                  Episode #10.15
980841  tt9916840  tvEpisode      Horrid Henry's Comic Caper
980842  tt9916880  tvEpisode       Horrid Henry Knows It All

                         originalTitle isAdult startYear endYear  \
0                           Carmencita       0      1894      \N
1               Le clown et ses chiens       0      1892      \N
2                       Pauvre Pierrot       0      1892      \N
3                          Un bon bock       0      1892      \N
4                     Blacksmith Scene       0      1893      \N
...                                ...     ...       ...     ...
980838  Horrid Henry Delivers the Milk       0      2012      \N
980839                          6 Gunn       0      2017      \N
980840                  Episode #10.15       0      2019      \N
980841      Horrid Henry's Comic Caper       0      2014      \N
980842       Horrid Henry Knows It All       0      2014      \N

       runtimeMinutes                       genres  averageRating  numVotes
0                   1            Documentary,Short            5.7      2011
1                   5              Animation,Short            5.7       271
2                   4     Animation,Comedy,Romance            6.5      1931
3                  12              Animation,Short            5.4       179
4                   1                 Comedy,Short            6.2      2702
...               ...                          ...            ...       ...
980838             10   Adventure,Animation,Comedy            8.3         8
980839            116                        Drama            7.6        11
980840             43  Family,Game-Show,Reality-TV            7.0        22
980841             11   Adventure,Animation,Comedy            8.8         6
980842             10   Adventure,Animation,Comedy            8.2         6

[980843 rows x 11 columns]>

In [24]:
#runtimeMinutes'in coefficient'ı çok düşük (0.5'ten düşük) olduğu için onu seçmemeliyiz sonucu çıktı
correlation = merged_df['averageRating'].corr(merged_df['runtimeMinutes'])
print("Correlation coefficient:", correlation) #kullanmamalıyız kanıtı

Correlation coefficient: -0.08317765978195327

In [52]:
#numVotes'un coefficient'ı çok düşük (0.5'ten düşük) olduğu için onu seçmemeliyiz sonucu çıktı
correlation = merged_df['averageRating'].corr(merged_df['numVotes'])
print("Correlation coefficient:", correlation)

Correlation coefficient: 0.016895536785043776

In [51]:
from scipy.stats import ttest_ind

In [54]:
#isadult kısmını kullanmamız gerekiyor sonucu çıktı, kodu düzenlemeyecekse burayı yazmamalıyız

group1 = merged_df[merged_df['isAdult'] == 0]['averageRating']
group2 = merged_df[merged_df['isAdult'] == 1]['averageRating']

t_stat, p_value = ttest_ind(group1, group2, equal_var=False)  # Assuming unequal variances
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 67.14316168686301
P-value: 0.0

In [16]:
dataset1.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      2009
1  tt0000002            5.7       270
2  tt0000003            6.5      1929
3  tt0000004            5.4       178
4  tt0000005            6.2      2702

In [25]:
from scipy.stats import f_oneway

In [27]:
merged_df.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1.0,"Documentary,Short",5.7,2011
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5.0,"Animation,Short",5.7,271
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4.0,"Animation,Comedy,Romance",6.5,1931
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12.0,"Animation,Short",5.4,179
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1.0,"Comedy,Short",6.2,2702

In [26]:
netflix_data.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [29]:
netflix_merged_df = pd.merge(netflix_data, merged_df, left_on='title', right_on= 'primaryTitle', how='left')

In [30]:
netflix_merged_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,movie,Dick Johnson Is Dead,Dick Johnson Is Dead,0,2020,\N,89.0,"Biography,Documentary,Drama",7.4,7125.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,tvEpisode,Blood & Water,Blood & Water,0,2014,\N,42.0,"Crime,Documentary",8.0,22.0
2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,tvEpisode,Blood & Water,Blood & Water,0,2014,\N,88.0,"Crime,Drama,Mystery",7.3,528.0
3,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,tvEpisode,Blood & Water,Blood & Water,0,2018,\N,44.0,"Adventure,Documentary,Reality-TV",7.1,14.0
4,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,tvSeries,Blood & Water,Blood & Water,0,2020,\N,53.0,"Drama,Mystery",6.7,3958.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25690,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,...,movie,Zoom,Zoom,0,2015,\N,96.0,"Animation,Comedy,Drama",6.1,2980.0
25691,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,...,short,Zoom,Zoom,0,2007,\N,3.0,Short,6.1,14.0
25692,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,...,movie,Zoom,Zoom,0,2016,\N,158.0,"Comedy,Drama,Romance",5.6,128.0
25693,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,...,movie,Zubaan,Zubaan,0,2015,\N,115.0,Drama,6.1,523.0
25694,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,...,short,Zubaan,Zubaan,0,2018,\N,25.0,"Crime,Drama,Short",7.5,11.0

In [32]:
f_stat, p_value = f_oneway(*[netflix_merged_df[netflix_merged_df['country'] == country]['averageRating'] for country in netflix_merged_df['country'].unique()])

print("F-statistic:", f_stat)
print("p-value:", p_value)

F-statistic: nan
p-value: nan

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/scipy/stats/_stats_py.py:4133: DegenerateDataWarning: at least one input has length 0
  warnings.warn(stats.DegenerateDataWarning('at least one input '

In [37]:
from scipy.stats import f_oneway

# Assuming netflix_merged_df is your DataFrame with 'country' and 'averageRating' columns

# Count the number of movies per country
country_counts = netflix_merged_df['country'].value_counts()

# Filter out countries with insufficient data points (e.g., less than a threshold)
threshold = 1000  # Adjust this threshold as needed
valid_countries = country_counts[country_counts >= threshold].index.tolist()

# Print the valid countries and their counts
print("Valid Countries and Their Counts:")
print(country_counts[country_counts >= threshold])

# Perform ANOVA test for 'country' and 'averageRating' only for valid countries
filtered_data = [netflix_merged_df[netflix_merged_df['country'] == country]['averageRating'] for country in valid_countries]
f_stat, p_value = f_oneway(*filtered_data)

print("F-statistic:", f_stat)
print("p-value:", p_value)

Valid Countries and Their Counts:
country
United States     8459
India             2432
United Kingdom    1307
Name: count, dtype: int64
F-statistic: nan
p-value: nan

In [38]:

netflix4 = pd.read_csv('netflix4.csv')

In [41]:
netflix4.head(5)

,show_id,type,title,country,release_year,rating,averageRating,numVotes,genres,directors,category,primaryName
0,s1,Movie,Dick Johnson Is Dead,United States,2020,PG-13,7.4,7119.0,"Biography,Documentary,Drama",nm0990310,actor,Michael Hilow
1,s1,Movie,Dick Johnson Is Dead,United States,2020,PG-13,7.4,7119.0,"Biography,Documentary,Drama",nm0990310,actress,Ana Hoffman
2,s2,TV Show,Blood & Water,South Africa,2021,TV-MA,8.0,22.0,"Crime,Documentary",nm1520612,actress,Susan Sarandon
3,s2,TV Show,Blood & Water,South Africa,2021,TV-MA,7.3,528.0,"Crime,Drama,Mystery",nm0809375,director,Mike Smith
4,s2,TV Show,Blood & Water,South Africa,2021,TV-MA,7.3,528.0,"Crime,Drama,Mystery",nm0809375,actor,Neill Rea

In [39]:
f_stat, p_value = f_oneway(*[netflix4[netflix4['country'] == country]['averageRating'] for country in netflix4['country'].unique()])

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/scipy/stats/_stats_py.py:4133: DegenerateDataWarning: at least one input has length 0
  warnings.warn(stats.DegenerateDataWarning('at least one input '

In [43]:
from scipy.stats import f_oneway

# Assuming netflix_merged_df is your DataFrame with 'country' and 'averageRating' columns

# Count the number of movies per country
country_counts = netflix4['country'].value_counts()

# Filter out countries with insufficient data points (e.g., less than a threshold)
threshold = 5  # Adjust this threshold as needed
valid_countries = country_counts[country_counts >= threshold].index.tolist()

# Print the valid countries and their counts
print("Valid Countries and Their Counts:")
print(country_counts[country_counts >= threshold])

# Perform ANOVA test for 'country' and 'averageRating' only for valid countries
filtered_data = [netflix4[netflix4['country'] == country]['averageRating'] for country in valid_countries]
f_stat, p_value = f_oneway(*filtered_data)

print("F-statistic:", f_stat)
print("p-value:", p_value)
#country kullanılmalı sonucu çıkmış oldu

Valid Countries and Their Counts:
country
United States                                                     44722
India                                                             13153
United Kingdom                                                     6719
South Korea                                                        4215
Canada                                                             2506
                                                                  ...
United States, India, Bangladesh                                      5
Chile, Argentina                                                      5
Indonesia, South Korea, Singapore                                     5
Canada, Luxembourg                                                    5
Brazil, Netherlands, United States, Colombia, Austria, Germany        5
Name: count, Length: 608, dtype: int64
F-statistic: 6.838726434406598
p-value: 0.0

In [50]:
from scipy.stats import f_oneway

# Assuming netflix_merged_df is your DataFrame with 'country' and 'averageRating' columns

# Count the number of movies per country
names_counts = netflix4['primaryName'].value_counts()

# Filter out countries with insufficient data points (e.g., less than a threshold)
threshold = 5  # Adjust this threshold as needed
valid_names = names_counts[names_counts >= threshold].index.tolist()

# Print the valid countries and their counts
print("Valid Names and Their Counts:")
print(names_counts[names_counts >= threshold])

# Perform ANOVA test for 'country' and 'averageRating' only for valid countries
filtered_data2 = [netflix4[netflix4['primaryName'] == name]['averageRating'] for name in valid_names]
f_stat2, p_value2 = f_oneway(*filtered_data2)

print("F-statistic:", f_stat2)
print("p-value:", p_value2)
#isim kullanılmalı sonucu çıkmış oldu

Valid Names and Their Counts:
primaryName
Doug Walker        101
Malcolm Ray         47
Jon Bailey          46
Tamara Chambers     45
Tara Strong         43
                  ...
Fele Martínez        5
Mikey Day            5
Eiza González        5
Sherman Hemsley      5
Rod Steiger          5
Name: count, Length: 4468, dtype: int64
F-statistic: 4.091473904770355
p-value: 0.0